## Data from World Happiness Report

The World Happiness Report is an annual publication of the United Nations Sustainable Development Solutions Network. It contains articles, and rankings of national happiness based on respondent ratings of their own lives, which the report also correlates with various life factors.

In this notebook we will explore the happiness of different countries and the features associated.
The datasets that we will use are available in *Data*: **happiness2020.pkl** and **countries_info.csv**.

Although the features are self-explanatory, here a summary: 

**happiness2020.pkl**
* country: *Name of the country*
* happiness_score: *Happiness score*
* social_support: *Social support (mitigation the effects of inequality)*
* healthy_life_expectancy: *Healthy Life Expectancy*
* freedom_of_choices: *Freedom to make life choices*
* generosity: *Generosity (charity, volunteers)*
* perception_of_corruption: *Corruption Perception*
* world_region: *Area of the world of the country*

**countries_info.csv**
* country_name: *Name of the country*
* area: *Area in sq mi*
* population: *Number of people*
* literacy: *Literacy percentage*

In [1]:
!head Data/countries_info.csv

country_name,area,population,literacy
afghanistan,647500,31056997,"36,0"
albania,28748,3581655,"86,5"
algeria,2381740,32930091,"70,0"
argentina,2766890,39921833,"97,1"
armenia,29800,2976372,"98,6"
australia,7686850,20264082,"100,0"
austria,83870,8192880,"98,0"
azerbaijan,86600,7961619,"97,0"
bahrain,665,698585,"89,1"

In [2]:
import pandas as pd
%matplotlib inline

DATA_FOLDER = 'Data/'

HAPPINESS_DATASET = DATA_FOLDER+"happiness2020.csv"
COUNTRIES_DATASET = DATA_FOLDER+"countries_info.csv"

## Task 1: Load the data

Load the 2 datasets in Pandas dataframes (called *happiness* and *countries*), and show the first rows.


**Hint**: Use the correct reader and verify the data has the expected format.

In [5]:
happiness_df = pd.read_csv(HAPPINESS_DATASET)
countries_df = pd.read_csv(COUNTRIES_DATASET)

In [24]:
happiness_df

,country,happiness_score,social_support,healthy_life_expectancy,freedom_of_choices,generosity,perception_of_corruption,world_region
0,Afghanistan,2.5669,0.470367,52.590000,0.396573,-0.096429,0.933687,South Asia
1,Albania,4.8827,0.671070,68.708138,0.781994,-0.042309,0.896304,Central and Eastern Europe
2,Algeria,5.0051,0.803385,65.905174,0.466611,-0.121105,0.735485,Middle East and North Africa
3,Argentina,5.9747,0.900568,68.803802,0.831132,-0.194914,0.842010,Latin America and Caribbean
4,Armenia,4.6768,0.757479,66.750656,0.712018,-0.138780,0.773545,Commonwealth of Independent States
...,...,...,...,...,...,...,...,...
130,Venezuela,5.0532,0.890408,66.505341,0.623278,-0.169091,0.837038,Latin America and Caribbean
131,Vietnam,5.3535,0.849987,67.952736,0.939593,-0.094533,0.796421,Southeast Asia
132,Yemen,3.5274,0.817981,56.727283,0.599920,-0.157735,0.800288,Middle East and North Africa
133,Zambia,3.7594,0.698824,55.299377,0.806500,0.078037,0.801290,Sub-Saharan Africa
134,Zimbabwe,3.2992,0.763093,55.617260,0.711458,-0.072064,0.810237,Sub-Saharan Africa

## Task 2: Let's merge the data

Create a dataframe called *country_features* by merging *happiness* and *countries*. A row of this dataframe must describe all the features that we have about a country.

**Hint**: Verify that all the rows are in the final dataframe.

In [23]:
country_features = pd.concat([happiness_df, countries_df], axis = 1).drop('country_name',  axis = 1)
country_features

,country,happiness_score,social_support,healthy_life_expectancy,freedom_of_choices,generosity,perception_of_corruption,world_region,area,population,literacy
0,Afghanistan,2.5669,0.470367,52.590000,0.396573,-0.096429,0.933687,South Asia,647500,31056997,"36,0"
1,Albania,4.8827,0.671070,68.708138,0.781994,-0.042309,0.896304,Central and Eastern Europe,28748,3581655,"86,5"
2,Algeria,5.0051,0.803385,65.905174,0.466611,-0.121105,0.735485,Middle East and North Africa,2381740,32930091,"70,0"
3,Argentina,5.9747,0.900568,68.803802,0.831132,-0.194914,0.842010,Latin America and Caribbean,2766890,39921833,"97,1"
4,Armenia,4.6768,0.757479,66.750656,0.712018,-0.138780,0.773545,Commonwealth of Independent States,29800,2976372,"98,6"
...,...,...,...,...,...,...,...,...,...,...,...
130,Venezuela,5.0532,0.890408,66.505341,0.623278,-0.169091,0.837038,Latin America and Caribbean,912050,25730435,"93,4"
131,Vietnam,5.3535,0.849987,67.952736,0.939593,-0.094533,0.796421,Southeast Asia,329560,84402966,"90,3"
132,Yemen,3.5274,0.817981,56.727283,0.599920,-0.157735,0.800288,Middle East and North Africa,527970,21456188,"50,2"
133,Zambia,3.7594,0.698824,55.299377,0.806500,0.078037,0.801290,Sub-Saharan Africa,752614,11502010,"80,6"
134,Zimbabwe,3.2992,0.763093,55.617260,0.711458,-0.072064,0.810237,Sub-Saharan Africa,390580,12236805,"90,7"

## Task 3: Where are people happier?

Print the top 10 countries based on their happiness score (higher is better).

In [28]:
country_features.sort_values('happiness_score', ascending=False)[0:10]

,country,happiness_score,social_support,healthy_life_expectancy,freedom_of_choices,generosity,perception_of_corruption,world_region,area,population,literacy
38,Finland,7.8087,0.954330,71.900825,0.949172,-0.059482,0.195445,Western Europe,338145,5231372,"100,0"
31,Denmark,7.6456,0.955991,72.402504,0.951444,0.066202,0.168489,Western Europe,43094,5450661,"100,0"
115,Switzerland,7.5599,0.942847,74.102448,0.921337,0.105911,0.303728,Western Europe,41290,7523934,"99,0"
50,Iceland,7.5045,0.974670,73.000000,0.948892,0.246944,0.711710,Western Europe,103000,299388,"99,9"
92,Norway,7.4880,0.952487,73.200783,0.955750,0.134533,0.263218,Western Europe,323802,4610820,"100,0"
87,Netherlands,7.4489,0.939139,72.300919,0.908548,0.207612,0.364717,Western Europe,41526,16491461,"99,0"
114,Sweden,7.3535,0.926311,72.600769,0.939144,0.111615,0.250880,Western Europe,449964,9016596,"99,0"
88,New Zealand,7.2996,0.949119,73.202629,0.936217,0.191598,0.221139,North America and ANZ,268680,4076140,"99,0"
6,Austria,7.2942,0.928046,73.002502,0.899989,0.085429,0.499955,Western Europe,83870,8192880,"98,0"
72,Luxembourg,7.2375,0.906912,72.599998,0.905636,-0.004621,0.367084,Western Europe,2586,474413,"100,0"

We are interested to know in what world region people are happier. 

Create and print a dataframe with the (1) average happiness score and (2) the number of contries for each world region.
Sort the result to show the happiness ranking.

In [32]:
{country_features['world_region']:[country_features['happiness_score'], country_features[]] for region in pd.unique('world_region')}
pd.DataFrame()

                     country                             \
world_region      South Asia Central and Eastern Europe
happiness_score       2.5669                     4.8827
0                Afghanistan                        NaN
1                        NaN                    Albania
2                        NaN                        NaN
3                        NaN                        NaN
4                        NaN                        NaN
..                       ...                        ...
130                      NaN                        NaN
131                      NaN                        NaN
132                      NaN                        NaN
133                      NaN                        NaN
134                      NaN                        NaN

                                                                          \
world_region    Middle East and North Africa Latin America and Caribbean
happiness_score                       5.0051                      5.9747
0                                        NaN                         NaN
1                                        NaN                         NaN
2                                    Algeria                         NaN
3                                        NaN                   Argentina
4                                        NaN                         NaN
..                                       ...                         ...
130                                      NaN                         NaN
131                                      NaN                         NaN
132                                      NaN                         NaN
133                                      NaN                         NaN
134                                      NaN                         NaN

                                                                          \
world_region    Commonwealth of Independent States North America and ANZ
happiness_score                             4.6768                7.2228
0                                              NaN                   NaN
1                                              NaN                   NaN
2                                              NaN                   NaN
3                                              NaN                   NaN
4                                          Armenia                   NaN
..                                             ...                   ...
130                                            NaN                   NaN
131                                            NaN                   NaN
132                                            NaN                   NaN
133                                            NaN                   NaN
134                                            NaN                   NaN

                                                                   \
world_region    Western Europe Commonwealth of Independent States
happiness_score         7.2942                             5.1648
0                          NaN                                NaN
1                          NaN                                NaN
2                          NaN                                NaN
3                          NaN                                NaN
4                          NaN                                NaN
..                         ...                                ...
130                        NaN                                NaN
131                        NaN                                NaN
132                        NaN                                NaN
133                        NaN                                NaN
134                        NaN                                NaN

                                                         ...  \
world_region    Middle East and North Africa South Asia  ...
happiness_score                       6.2273     4.8328  ...
0                                        NaN        NaN  ...
1                                        NaN        NaN  ...
2                                        NaN        NaN  ...
3                                        NaN        NaN  ...
4                                        NaN        NaN  ...
..                                       ...        ...  ...
130                                      NaN        NaN  ...
131                                      NaN        NaN  ...
132                                      NaN        NaN  ...
133                                      NaN        NaN  ...
134                                      NaN        NaN  ...

                                    literacy                 \
world_region    Middle East and North Africa Western Europe
happiness_score                       6.7908         7.1645
0                                        NaN            NaN
1                                        NaN            NaN
2                                        NaN            NaN
3                                        NaN            NaN
4                                        NaN            NaN
..                                       ...            ...
130                                      NaN            NaN
131                                      NaN            NaN
132                                      NaN            NaN
133                                      NaN            NaN
134                                      NaN            NaN

                                                                   \
world_region    North America and ANZ Latin America and Caribbean
happiness_score                6.9396                      6.4401
0                                 NaN                         NaN
1                                 NaN                         NaN
2                                 NaN                         NaN
3                                 NaN                         NaN
4                                 NaN                         NaN
..                                ...                         ...
130                               NaN                         NaN
131                               NaN                         NaN
132                               NaN                         NaN
133                               NaN                         NaN
134                               NaN                         NaN

                                                    \
world_region    Commonwealth of Independent States
happiness_score                             6.2576
0                                              NaN
1                                              NaN
2                                              NaN
3                                              NaN
4                                              NaN
..                                             ...
130                                            NaN
131                                            NaN
132                                            NaN
133                                            NaN
134                                            NaN

                                                            \
world_region    Latin America and Caribbean Southeast Asia
happiness_score                      5.0532         5.3535
0                                       NaN            NaN
1                                       NaN            NaN
2                                       NaN            NaN
3                                       NaN            NaN
4                                       NaN            NaN
..                                      ...            ...
130                                    93,4            NaN
131                                     NaN           90,3
132                                     NaN            NaN
133                                     NaN            NaN
134                                     NaN            NaN


world_region    Middle East and North Africa Sub-Saharan Africa
happiness_score                       3.5274             3.7594 3.2992
0                                        NaN                NaN    NaN
1                                        NaN                NaN    NaN
2                                        NaN                NaN    NaN
3                                        NaN                NaN    NaN
4                                        NaN                NaN    NaN
..                                       ...                ...    ...
130                                      NaN                NaN    NaN
131                                      NaN                NaN    NaN
132                                     50,2                NaN    NaN
133                                      NaN               80,6    NaN
134                                      NaN                NaN   90,7

[135 rows x 1215 columns]

world_region,Central and Eastern Europe,Commonwealth of Independent States,East Asia,Latin America and Caribbean,Middle East and North Africa,North America and ANZ,South Asia,Southeast Asia,Sub-Saharan Africa,Western Europe
0,NaN,NaN,NaN,NaN,NaN,NaN,2.5669,NaN,NaN,NaN
1,4.8827,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,5.0051,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,5.9747,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,4.6768,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
130,NaN,NaN,NaN,5.0532,NaN,NaN,NaN,NaN,NaN,NaN
131,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.3535,NaN,NaN
132,NaN,NaN,NaN,NaN,3.5274,NaN,NaN,NaN,NaN,NaN
133,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.7594,NaN
134,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.2992,NaN

The first region has only a few countries! What are them and what is their score?

In [7]:
# Write your code here

## Task 4: How literate is the world?

Print the names of the countries with a level of literacy of 100%. 

For each country, print the name and the world region in the format: *{region name} - {country name} ({happiness score})*

In [8]:
# Write your code here

What is the global average?

In [9]:
# Write your code here

Calculate the proportion of countries with a literacy level below 50%. Print the value in percentage, formatted with 2 decimals.

In [10]:
# Write your code here

Print the raw number and the percentage of world population that is illiterate.

In [11]:
# Write your code here

## Task 5: Population density

Add to the dataframe a new field called *population_density* computed by dividing *population* by *area*.

In [12]:
# Write your code here

What is the happiness score of the 3 countries with the lowest population density?

In [13]:
# Write your code here

## Task 6: Healty and happy?

Plot in a scatter plot the happiness score (x) and healty life expectancy (y).

In [14]:
# Write your code here

Feel free to continue the exploration of the dataset! We'll release the solutions next week.

----
Enjoy EPFL and be happy, next year Switzerland must be #1.